
<nav class="navbar navbar-dark bg-primary" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"><h1>Colony W</h1></a>

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    User Account
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/users">My Profile</a>
    <a class="dropdown-item" href="#">Map</a>
    <a class="dropdown-item" href="#">Settings</a>
    <a class="dropdown-item" href="#">Log out</a>
  </div>
</div>
</nav>

