<div class="row text-center">
  <div class="col-12">
    <h1>Editing Colony</h1>
  </div>
</div>

<%= render 'form', colony: @colony %>

<div class="row text-center">
  <div class="col-12">
    <%= link_to 'Show', @colony, :class => "btn btn-info" %>
    <%= link_to 'Back', colonies_path, :class => "btn btn-warning" %>
  </div>
</div>