@import "bootstrap";
@import "colonies";
@import "font-families";

$white-link: #ffffff;

.nav-headline {
  color: $white-link;
}

h1 {
  font-family: 'Coda Caption', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;;
  font-size: 18px;
}
