<div class="jumbotron jumbotron-fluid">
  <%= link_to 'Cancel', missions_path, class: "btn btn-outline-danger float-right" %>
  <div class="container">
    <h1 class="display-4">Editing Mission</h1>
    <p class="lead"><%= render 'form', mission: @mission %> </p>  
  </div>
</div>
